/* Login.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.login-container {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%; 
    max-width: 400px; /* Prevent infinite width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%; /* Keep consistent size */
    box-sizing: border-box; /* Prevent overflow */
    border-radius: 5px;
  }
  

h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

span {
  font-size: 12px;
  margin-bottom: 20px;
}



button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
